body {
  background-color: green
}

#heading {
  background-color: lightyellow;
  color: green;
  font-size: 80px;
}

p:hover {
  background-color: red;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 20px;
  height: 10px;
  width: 30%;
  background-color: tan;
}

.pear {
  background-color: white;
}

.chillies {
  background-color: orange;
}

.circular {
  border-radius: 100%;
}
